<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= yield %>
=======
<%= link_to "Home", root_path %>
<%= link_to "About Us", about_path %>
<%= yield %>
>>>>>>> 9b335edbb0d1bb93f9074aa339032a99d518b1cb

</body>
</html>
